<link href='https://fonts.googleapis.com/css?family=Roboto+Mono:400,700' rel='stylesheet' type='text/css'>

<style type="text/css">
	p {

		font-family: 'Roboto Mono';
		font-weight:bolder
	}

	div {
		width: 400px;
		margin-left: 525px;
		color: #333

	}

	.button {
		text-decoration: none;
		text-align: center;
		display: inline;
		border-radius: 5px;
		list-style: none
	}

	.button:hover{
		margin: 2px 0 0 2px;
		t
	}

</style>

<div>
	<%= form_tag "loginverify" do %>
	<p>
		<%= label_tag :email %><br />
		<%= text_field_tag :email, params[:email] %>
	</p>
	<p>
		<%= label_tag :password %><br />
		<%= password_field_tag :password %>
	</p>
	<br />
	<p class="button"><%= submit_tag "Log in" %></p>
	<% end %>
</div>

<div>
	<a href="forgotpassword">Forgot Your Password?</a>
</div>
